article,aside,figcaption,footer,header,hgroup,nav,section{display:block}
html{font:100%/1.5em Helvetica,Arial,Freesans,sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
body{margin:0}
h1,.h1{font-size:2.25em;line-height:1.33333em;margin-top:.66667em;margin-bottom:.66667em}
h2,.h2{font-size:1.5em;line-height:2em;margin-top:1em;margin-bottom:1em}
h3,.h3{font-size:1.3125em;line-height:2.28571em;margin-top:1.14286em;margin-bottom:1.14286em}
h4,.h4{font-size:1.125em;line-height:1.33333em;margin-top:1.33333em;margin-bottom:1.33333em}
h5,.h5{font-size:1em;line-height:1.5em;margin-top:1.5em;margin-bottom:1.5em}
h6,.h6{font-size:.875em;line-height:1.71429em;margin-top:1.71429em;margin-bottom:1.71429em}
h1:first-child,h2:first-child,h3:first-child,h4:first-child,h5:first-child,p:first-child{margin-top:0}
p:last-child{margin-bottom:0}
p,ul,ol,dl{margin-top:1.5em;margin-bottom:1.5em}
a{color:blue}a:hover,a:focus{text-decoration:none;color:red}
a:active{color:red}
ul,ol{padding-left:1.5em}
.ie7 ul,.ie7 ol{margin-left:0}
ul ul{margin-top:.75em;margin-bottom:.75em}
ol{list-style-type:decimal}
ol ol{margin-top:.75em;margin-bottom:.75em;list-style-type:upper-alpha}
ol ol ol{list-style-type:lower-roman}
ol ol ol ol{list-style-type:lower-alpha}
img{vertical-align:middle;max-width:100%}
a img{border:0}figure{margin:0 0 1.5em}
figcaption{font-size:.85em;font-style:italic}
hr{clear:both;height:1px;margin:23px 0;padding:0;border-top:0;color:black;background:black}
blockquote,pre{margin-top:1.5em;margin-bottom:1.5em;border-left:3px solid;padding-left:17px;clear:both}
blockquote{font-style:italic}
blockquote cite{font-style:normal}
blockquote p{margin-bottom:.75em}
pre{font-size:1em;line-height:1.5em;white-space:pre;white-space:pre-wrap;word-wrap:break-word;font-family:Menlo,Monaco,Consolas,"Courier New",monospace}
pre code{background:none;padding:0;border:0}
sub,sup{line-height:0;position:relative;vertical-align:baseline;font-variant:small-caps}
sup{top:-0.5em}sub{bottom:-0.25em}
abbr{text-transform:uppercase}
abbr[title],dfn[title]{cursor:help;border-bottom:1px dotted}
code,kbd,samp{line-height:normal}
code,kbd{padding:0 .4em;position:relative;top:-2px}
.ie7 code,.ie7 kbd{font-size:85%}
code{color:#DD1144;background:#eee;border:1px dotted #ccc}kbd{color:black;background:#D6D6C6;border:1px dotted black}
ins{border-bottom:1px dashed;color:green;text-decoration:none}
mark,.highlight{background:#ff0;color:black;padding:0 .2em}
q{quotes:"\201C" "\201D" "\2018" "\2019"}
iframe{border:0}table{width:100%;caption-side:bottom}
table,table .table{display:table;table-layout:fixed;border-collapse:collapse;vertical-align:top}
table th,table td{padding:12px 20px 11px;border-bottom:1px solid #ccc}
table td{color:#555}
caption{padding:12px 10px;color:#555;font-style:italic}
tbody{border:1px solid #ccc}
tbody tr:nth-child(odd){background:#eee}
tbody tr > * + *{border-left:1px solid rgba(0,0,0,0.05)}
.smaller,#skip-links,#breadcumb,.required{font-size:.75em;line-height:2em}
.small{font-size:.875em;line-height:1.71429em}
.normal{font-size:1em;line-height:1.5em}
.big{font-size:1.5em;line-height:2em}
.bigger{font-size:2.25em;line-height:1.33333em}
.list-none,.list-inline,.nav,#comments ul,#comments ol,.featured,.gallery{list-style-type:none;padding-left:0}
.list-separate li + li{padding-left:15px;background:url('data:image/gif;base64,R0lGODlhDwAPAJECAAAAAAwMDP///wAAACH5BAEAAAIALAAAAAAPAA8AAAIRlI+py+0PYwoUBhBslbz7zxUAOw==') no-repeat left center}
.list-ico li + li{padding-left:5px}
.aleft{text-align:left}
.acenter{text-align:center}
.aright,#contentinfo ul{text-align:right}
.caps,.nav-header{text-transform:uppercase}
.small-caps{font-variant:small-caps}
.no-caps{font-variant:normal}
.regular{font-weight:400;font-style:normal}
.bold,strong,dt,dfn[title],.error-label,.nav-header{font-weight:700}
.italic,dfn[title]{font-style:italic}
.underline{text-decoration:underline}
.strike{text-decoration:line-through}
.floatl,.list-inline li,.nav li,.alignleft,#logo{display:inline;float:left}
.floatr,.alignright,#contentinfo ul{display:inline;float:right}
.floatn,.nav-list li,.featured-news .wp-post-image{float:none;display:block}
.alignleft{margin:1.5em 20px 1.5em 0}
.alignright{margin:1.5em 0 1.5em 20px}
.aligncenter{clear:both;display:block;margin-left:auto;margin-right:auto;margin-bottom:24px}
.border-top{border-top-style:solid;border-top-width:.0625em;padding-top:.6875em}
.border-bottom{border-bottom-style:solid;border-bottom-width:.0625em;padding-bottom:.6875em}
.border-double{border-top-style:solid;border-top-width:.0625em;padding-top:.6875em;border-bottom-style:solid;border-bottom-width:.0625em;padding-bottom:.6875em}
.box-sizing,.rows,.featured-gallery,.gallery,#wrapper,#container{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
body{background:#f8f8f8;color:#222}
.cleft{clear:left}
.cright{clear:right}
.clearfix:after,.rows:after,.featured-gallery:after,.gallery:after,#wrapper:after,#container:after,#banner:after,#contentinfo:after,#skip-links:after,.form-submit:after,.field-group:after,.nav:after,.featured-news > li:after,.featured-list > li:after,.featured-item:after,.entry:after{content:"";display:table;clear:both}
.ie7 .clearfix,.ie7 .rows,.ie7 .featured-gallery,.ie7 .gallery,.ie7 #wrapper,.ie7 #container,.ie7 #banner,.ie7 #contentinfo,.ie7 #skip-links,.ie7 .form-submit,.ie7 .field-group,.ie7 .nav,.ie7 .featured-news > li,.ie7 .featured-list > li,.ie7 .featured-item,.ie7 .entry{zoom:1}
.rows,.featured-gallery,.gallery{width:auto;margin:0 -1.06383%}
.column,.column-1,.column-2,.column-3,.column-4,.column-5,.column-6,.column-7,.column-8,.content,.column-9,.column-10,.column-11,.column-12,.content-large{margin:0 1.04167%;float:left}
.column-1{width:6.25%}
.column-2{width:14.58333%}
.column-3{width:22.91667%}
.column-4{width:31.25%}
.column-5{width:39.58333%}
.column-6{width:47.91667%}
.column-7{width:56.25%}
.column-8,.content{width:64.58333%}
.column-9{width:72.91667%}
.column-10{width:81.25%}
.column-11{width:89.58333%}
.column-12,.content-large{width:97.91667%}
.box-border{border:2px solid #cccccc;padding:10px 18px;background:#eee}
.box-padding{padding:12px 20px}
#wrapper{max-width:960px;width:100%;margin:0 auto}
#container{width:auto;margin:0}
#banner{margin:0 1.04167%;padding:24px 0}
#complementary{width:31.25%;margin:0 1.04167%;margin-top:36px;float:left}
@media screen and (max-width:770px){
	#complementary{width:97.91667%;margin:0 1.04167%;float:none;clear:both}
}
#contentinfo{margin:24px 1.04167%}
#skip-links ul{margin:0 1.04167%}
#breadcumb{margin:12px 0}
.menu{list-style-type:none;margin:0 1.04167%}
.menu li{width:20%}
.menu a{-webkit-transition-property:background;-moz-transition-property:background;-o-transition-property:background;transition-property:background;-webkit-transition-duration:.5s;-moz-transition-duration:.5s;-o-transition-duration:.5s;transition-duration:.5s;background:#ccc;color:black;display:block;padding:12px 0;text-decoration:none;text-align:center}
.menu a:hover,.menu a:focus{text-decoration:underline;background:#b3b3b3}
.menu a:active{text-decoration:underline;color:white;background:gray}
.menu .current_page_parent a,.menu .current-page-ancestor a,.menu .current_page_item a{text-decoration:underline;color:white;background:#4d4d4d}
fieldset{border-top:1px solid silver;margin:0;padding:34px 20px 16px}
legend{border:0;margin:0;padding:0 1.5em;white-space:normal}
.ie7 legend{margin-left:-7px}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline}
.ie7 button,.ie7 input,.ie7 select,.ie7 textarea{vertical-align:middle}
button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button}
.ie7 button,.ie7 input[type="button"],.ie7 input[type="reset"],.ie7 input[type="submit"]{overflow:visible}
input[type="radio"],input[type="checkbox"]{height:12px;width:12px;vertical-align:middle;border:0}
input[type="image"]{border:0}
textarea{font-family:inherit;overflow:auto;vertical-align:top;resize:vertical;width:92%}
input,select,textarea{border:1px solid silver}
button,label{cursor:pointer}
button,input{line-height:normal}
button[disabled],input[disabled]{cursor:default}
#search{text-align:right;float:right;position:relative;top:24px}
#search .s{border-right:0}
#respond{background:#eee;padding:10px 8px;border:2px solid #ddd;margin:12px 0}
#comments .children{border-left:5px solid;margin-left:60px;padding-left:15px}
.comment-padding-left{padding-left:220px}
.required{color:#555}
.form-submit,.field-group{border:0;position:relative;margin:0 0 12px;padding:0 0 0 220px}
.field-group label,.field-group .label{display:inline-block;vertical-align:middle;width:200px;margin-right:20px;text-align:right;padding:0;line-height:32px;position:absolute;left:0;top:0}
.ie7 .field-group label,.ie7 .field-group .label{display:inline;zoom:1}
.field-group input[type="text"],.field-group input[type="email"],.field-group input[type="url"]{padding:0 5px;display:inline-block;line-height:32px;height:32px}
.field-group select{padding:6px 5px 5px}
.field-group textarea{padding:5px}
.field-group input[type="radio"],.field-group input[type="checkbox"]{height:12px;width:12px;vertical-align:middle}
.field-false label{float:none;display:inline;padding-left:5px;position:relative;left:auto;top:auto;width:auto}
.field-block{padding-left:0}
.field-block label,.field-block .label{display:block;margin-right:0;text-align:left;position:relative;left:auto;top:auto}
.input-small{width:40%}
.input-medium{width:auto}
.input-large{width:95%}
.error-label{color:#7c1f1f}.error-input{border:1px dashed #7c1f1f}
.hide{position:absolute;left:-9999em}
a.external{padding-right:18px;background:url('data:image/gif;base64,R0lGODlhDQALAJEAAAAAAP///wAA/////yH5BAEAAAMALAAAAAANAAsAAAIjnIWJxhIPBTtB1ZOik8PVt10d+H2c50EiqiSUKjZwjLUcUwAAOw==') no-repeat right center}
a.external:focus,a.external:hover,a.external:active{background:url('data:image/gif;base64,R0lGODlhDQALAJEAAAAAAP////8AAP///yH5BAEAAAMALAAAAAANAAsAAAIjnIWJxhIPBTtB1ZOik8PVt10d+H2c50EiqiSUKjZwjLUcUwAAOw==') no-repeat right center}
.nav{color:black}
.nav a{text-decoration:none}
.nav-header{display:block;padding:12px 0}
.nav-list a{color:blue;display:block;padding:6px 20px}
.nav-list a:hover,.nav-list a:focus,.nav-list a:active{color:red;background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAADBSURBVHjapNMxbgIxEEbhZ65AmZ6IZSWEUJaWgguQkpLbRhyAjjZlUBIQ0DwaO3hXRHESS3/hlb8Za1YOKn9dvdYuhJQRIcyzfTtpqbcAQl/YCQehjt/aiee7eCm8CMZ83C3wDe4JjXDMCuyFYQlOeRLOWYF34bEUI8w6N3gTBqUYYZ1hha2wKsF17JbgQZiUdK6EzwyevuAPuIoTTvAoTEum/SxsOh2b0v+M8CC8Cpc4cX6DEcbC4i7McPjPq7oOAMb9XLgR6ZMXAAAAAElFTkSuQmCC') no-repeat left center;text-decoration:underline}
.nav-list .current_page_item > a{color:black;background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABcSURBVHja7JOxDYAwDATvEU2GYhWGQ5mCEoYK3dNYaZFDhcRJLu/t4i3bjDIDSFqBJeGdtjdicwWcmGqbKZJa8uIGdHmIX/6cXJJe6d0GduCK6j0h4ADQm6+6BwAeciLEfZt5SwAAAABJRU5ErkJggg==') no-repeat left center;text-decoration:underline}
.featured-gallery li,.gallery li{margin:0 1.04167%;float:left}
.ie7 .featured-gallery li:first-child,.ie7 .gallery li:first-child{margin-left:0}
.ico{width:15px;height:15px;display:inline-block;position:relative;top:2px;background:url('images/ico-s5bc65c7c6d.png') no-repeat top left}
.ie7 .ico{margin-right:4px;top:-1px}.ico-date{background-position:0 -270px}
.ico-category{background-position:0 -315px}
.ico-tag{background-position:0 -345px}
.ico-author{background-position:0 -420px}
.ico-comment{background-position:0 -405px}
.ico-edit{background-position:0 -150px}
.ico-location{background-position:0 -15px}
.ico-favorite{background-position:0 -330px}
.ico-video{background-position:0 -225px}
.ico-duration{background-position:0 -135px}
.ico-group{background-position:0 -360px}
.ico-prev{background-position:0 -465px}
.ico-bullet,.ico-next{background-position:0 -435px}
.ico-star{background-position:0 -390px}
.ico-reply{background-position:0 -210px}
.ico-prev-hover{background-position:0 -450px}
.ico-prev-link{background-position:0 -255px}
.ico-next-hover{background-position:0 -375px}
.ico-next-link{background-position:0 -240px}
.ico-reply-hover{background-position:0 -180px}
.ico-reply-link{background-position:0 -105px}
a.prev:hover .ico,a.prev:focus .ico,a.prev:active .ico{background-position:0 -450px}
a.next:hover .ico,a.next:focus .ico,a.next:active .ico{background-position:0 -375px}
a.reply-link:hover .ico,a.reply-link:focus .ico,a.reply-link:active .ico{background-position:0 -180px}
a.prev:hover,a.prev:focus,a.prev:active,a.next:hover,a.next:focus,a.next:active,a.reply-link:hover,a.reply-link:focus,a.reply-link:active{text-decoration:none}
.pagination.acenter li{float:none}
.header{position:relative}
.header-title{margin:0}
.header-oppose{position:absolute;right:0;top:.75em}
.avatar,.wp-post-image{display:inline;float:left;margin-left:0;margin-right:2.0914%}
a .avatar,a .wp-post-image{outline:4px transparent solid}
a:hover .avatar,a:hover .wp-post-image,a:focus .avatar,a:focus .wp-post-image,a:active .avatar,a:active .wp-post-image{-webkit-transition:outline .3s ease-in-out;-webkit-transition-delay:0s;-moz-transition:outline .3s ease-in-out 0s;-o-transition:outline .3s ease-in-out 0s;transition:outline .3s ease-in-out 0s;outline:3px red dashed}
.widget-title{border-bottom-style:solid;border-bottom-width:.33333em;padding-bottom:.16667em;padding-top:.5em}
.alert{border-top:4px solid;border-bottom:4px solid;margin:24px 0;padding:8px 20px}
.alert p{margin-bottom:.75em;margin-top:0}
.alert a,.alert a:active{text-decoration:underline}
.alert a:hover,.alert a:focus{text-decoration:overline}
.alert{background:#fffcce;border-color:#7c761f;color:#7c761f}
.alert a{color:#7c761f}
.alert-danger,.alert-error{background:#ffcece;border-color:#7c1f1f;color:#7c1f1f}
.alert-danger a,.alert-error a{color:#7c1f1f}
.alert-success{background:#ddffce;border-color:#3b7c1f;color:#3b7c1f}
.alert-success a{color:#3b7c1f}
.alert-info{background:#cedcff;border-color:#1f3a7c;color:#1f3a7c}
.alert-info a{color:#1f3a7c}
.ptn,.pvn,.pan{padding-top:0 !important}
.pts,.pvs,.pas{padding-top:6px !important}
.ptm,.pvm,.pam{padding-top:12px !important}
.ptl,.pvl,.pal{padding-top:24px !important}
.prn,.phn,.pan{padding-right:0 !important}
.prs,.phs,.pas{padding-right:5px !important}
.prm,.phm,.pam{padding-right:10px !important}
.prl,.phl,.pal{padding-right:20px !important}
.pbn,.pvn,.pan{padding-bottom:0 !important}
.pbs,.pvs,.pas{padding-bottom:6px !important}
.pbm,.pvm,.pam{padding-bottom:12px !important}
.pbl,.pvl,.pal{padding-bottom:24px !important}
.pln,.menu,.nav-list ul,.phn,.pan{padding-left:0 !important}
.pls,.phs,.pas{padding-left:5px !important}
.plm,.phm,.pam{padding-left:10px !important}
.pll,.phl,.pal{padding-left:20px !important}
.mtn,form,.mvn,.nav-list ul,.featured-item p,.widget ul,.man,#contentinfo ul{margin-top:0 !important}
.mts,.mvs,.mas{margin-top:6px !important}
.mtm,.mvm,.mam{margin-top:12px !important}
.mtl,.featured-news > li,.featured-list > li,.mvl,.mal{margin-top:24px !important}
.mrn,.protected-post-form input[type=password],.mhn,form,.man,#contentinfo ul{margin-right:0 !important}
.mrs,.mhs,.mas{margin-right:5px !important}
.mrm,.mhm,.mam{margin-right:10px !important}
.mrl,.mhl,.mal{margin-right:20px !important}
.mbn,.featured .avatar,.featured .wp-post-image,.widget p:last-child,.widget li:last-child,.mvn,.nav-list ul,.featured-item p,.widget ul,.man,#contentinfo ul{margin-bottom:0 !important}
.mbs,.mvs,.mas{margin-bottom:6px !important}
.mbm,.mvm,.mam{margin-bottom:12px !important}
.mbl,form,.featured-item,.featured-gallery li,.gallery li,.entry,.mvl,.mal{margin-bottom:24px !important}
.mln,.mhn,form,.man,#contentinfo ul{margin-left:0 !important}
.mls,.mhs,.mas{margin-left:5px !important}
.mlm,.mhm,.mam{margin-left:10px !important}
.mll,.mhl,.mal{margin-left:20px !important}